*{ /*<-- para colocar todos los margenes a cero --> */
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div { /*<-- divicion para efecto de hoja --> */
    background: rgb(243, 240, 240);
    width: 1280px; /*<--ancho de hoja */
    margin: 15px auto; /*<-- margen centrado de hoja*/
    border: 1px solid black;
}
h1 {  /*<-- tamano titulos --> */
    font-size: 32px; /*<-- tamano de letra*/
    font-family: Arial, Helvetica, sans-serif; /*<-- tipo de letra*/
    font-weight: bold; /*<-- grosor de letra*/
    text-align: center; /*<-- alineacion de titulos*/
    color: black;
}
h2 { /*<-- tamano subtitulos --> */
    font: bold 25px arial;
    text-align: center;
    line-height: 130%;
    color: #3498db;
}
h3 {
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;
    line-height: 150%;
    padding: 0px 30px;
}
h4 {
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 160%;
    color: #34495e;
    padding: 0px 30px;
}
h5 {
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 130%;
    color: #34495e;
    padding: 0px 20px;
}
h6 {
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #34495e;
    font-weight: bold;
}
p {
    font-size: 120%;
    line-height: 120%; /*<-- separacion entre parrafos --> */
    padding: 2%;
    text-indent: 2%;
    text-align: justify;
}
header {  /*<-- Color de fondo y texto de encabezado y de la selector clase grupo --> */ 
    color:white;
    background:#bdc3c7;
    
} 
.contact ul {
    display: inline-block; /* <-- alinea en bloques */
    position: relative;
    background: #3498db;;
    text-align: center;
    color:white;
    list-style: none;
}
.address  li {
    display: inline-block;
    font-size: 17px; 
    display: block;
    color:white;
    text-decoration: none;
    list-style: none;
}  

.grupo {
    color: black
} 
 article {
    margin-bottom: 15px; /*<-- para margen entre articulos --> */
    padding: 15px auto;
}
header {
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
}
.photo {
    float: left;
    margin: 20px;
    padding: 0 10px auto;
   
}
p {
    list-style: none;
}
.datospersonales > h4 {
    font-size: 20px; /*<-- tamano de letra --> */
    font-family: Arial, Helvetica, sans-serif; /*<-- tipo de letra --> */
    font-weight: bold; /*<-- grosor de letra --> */
    text-align: center; /*<-- alineacion de titulos --> */
    color: #34495e;
}
/*<-- efecto bloques --> */
.bloques {
    text-align: center;
}
.menubloques > li {
    display: inline-block; /* <-- alinea en bloques */
    position: relative;
    background: #3498db;;
    text-align: center;
}
.menubloques > li > a{
    display: block;
    padding: 5px 10px;
    color: #ecf0f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none; /*<-- elimina los subrayados */
    
}
/*<-- efecto menu --> */
.navegation {
    width: 1276px;
    margin: auto;
    background: #3498db;
    position: relative;
    text-align: center;
}
.navegation ul{
    list-style: none;
}
.menu > li {
    display: inline-block;
    position: relative;
    font-weight: bold; /*<-- grosor de letra --> */
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #34495e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none; /*<-- elimina los subrayados --> */
}
.menu li a:hover{
    color: #c0392b;
    transition: all .5s; /*<-- efecto mas lento --> */
}
.submenu {
    position: absolute; /*<-- efecto para bajar el submenu --> */
    background: #3498db;;
    width: 120%;
    display: none;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 17px;
}
.menu li:hover .submenu{
    display: block;
}
.seccion{
    width: 600px;
    float: left;
    
}
.columna {
    width: 300px;
    float: left;
    margin: 60px;
    text-align: left;
}
.columna2 {
    width: 300px;
    float: left;
    margin: 20px 0;
    text-align: left;
}
.columna3 {
    width: 300px;
    float: left;
    margin: 40px 0;
    text-align: left;
}
.columna4 {
    width: 300px;
    float: left;
    margin: 40px 0;
    text-align: left;
}
/* <-- sociales -->*/
.icon-text-text {
    text-align: center;
    float: center;
    clear: both;
    background:#bdc3c7;
}
.social >li{
    display: inline-block; 
    position: relative;
    text-align: center;
    padding: 15px;
    font-size: 30px;
}

